<article class="card">
    <img src="uploads/{{ musicien.image }}">
    {{ musicien.fullName }}



    {% for instrument in musicien.instruments %}
        <a href="" class="badge badge-primary">
            <i class="{{ instrument.icon }}"></i>
            {{ instrument.name }}
        </a>
    {% endfor %}







</article>