{% extends 'base.html.twig' %}
{% block body %}


    <h1>Accueil</h1>

<section class="container">
    <h2>Next gigs</h2>
    <div class="grid">
    {% for gig in gigs %}
        <article class="card">



        <img src="uploads/{{ gig.pub.image }}" alt="image du concert">
                <h3>{{ gig.pub.name }}</h3>

        </article>
    {% endfor %}

    </div>

    <h2>Available musicians</h2>
    <div class="grid">



            {% for musicien in musiciens %}
                {% include 'musician/_card.html.twig' with {'musicien':musicien}only%}
            {% endfor %}





    </div>

</section>
{% endblock %}